controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute
get_user_resources:
    path: '/api/reservation/user/{id}'
    controller: 'App\Controller\ReservationController::__invoke'
    methods: ['GET']
get_user_by_email:
    path: '/api/users/email'
    controller: 'App\Controller\UserController::__invoke'
    methods: ['POST']

get_reservation_by_date:
    path: '/api/reservation/date/{id}'
    controller: 'App\Controller\ReservationController::getByDate'
    methods: ['GET']
