/* body{
  background-image: ;
} */
.container-admin {
  font-family: Arial, sans-serif;
  
  margin: 0;
  padding: 20px;
}

table {
  width: 60%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: white;
}

th,
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  margin: 5px;
  background-color: white;
}

th {
  background-color: #666;
  color: white;
}

/* 
button {
    background-color: rgb(0, 183, 255); 
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px; 
    cursor: pointer;
}

button:hover {
    background-color: darkblue; 
} */
