.calendar-page {
  padding: 20px;
  background-color: #f8f9fa;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.fc {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fc-toolbar {
  background-color: #1A173B;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.fc-toolbar h2 {
  color: white;
}

.fc-button {
  background-color: #E1BE40 !important;
  border-color: #1A173B !important;
  color: white;
}

/* Style de la barre de défilement pour WebKit (Chrome, Safari) */
.fc-scroller::-webkit-scrollbar {
  width: 8px; /* Largeur de la barre de défilement */
  height: 8px; /* Hauteur de la barre de défilement pour les barres de défilement horizontales */
}

.fc-scroller::-webkit-scrollbar-thumb {
  background-color: #888; /* Couleur de la poignée de la barre de défilement */
  border-radius: 10px; /* Bordure arrondie de la poignée */
}

.fc-scroller::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Couleur de la poignée lors du survol */
}

.fc-scroller::-webkit-scrollbar-track {
  background-color: #1A173B; /* Couleur de l'arrière-plan de la barre de défilement */
}

.fc-scroller-harness, .fc-col-header-cell{
  background-color: #1A173B !important;
}

.fc-col-header-cell-cushion{
  background-color: #1A173B;
  color: white;
  text-decoration: none;
}

.fc-button:focus {
  box-shadow: none;
}

.fc-daygrid-day-number {
  color: #1A173B;
  text-decoration: none;
}

.fc-event {
  background-color: #10b92d;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 2px 5px;
}

.fc-event-complet {
  background-color: #dc3545;
}

.fc-event-annulé {
  background-color: #6c757d;
}

.fc-event-disponible {
  background-color: #10b92d;
}

.fc-daygrid-day-frame {
  background-color: #f8f9fa;
}