$color-primary-white: rgb(255, 255, 255);

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: "Roboto", sans-serif;
}

.card-home {
  width: 20rem; // Assurez-vous que c'est la largeur souhaitée, 2rem semblait être une erreur
  height: 20rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: $color-primary-white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  padding-top: 20px;

  .card-content-home {
    padding: 20px;
  }

.img-card-home {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
    object-fit: cover;
    object-position: center;
    filter: brightness(50%);
}

// img-card-home-cancelled
.img-card-home-cancelled {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
  object-fit: cover;
  object-position: center;
  // reddish filter
  filter: brightness(10%) sepia(100%) saturate(1000%) hue-rotate(330deg);
}

  .h2-home {
    position: relative;
    bottom: -400px;
    transition: bottom 0.3s ease-out;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .p-home,
  .a-home {
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    max-width: 100%;
    background: none;
    border: none;
    transition-delay: 0.3s;
    
  }

  .a-home:hover {
    background-color: #1A173B;
    color: #E1BE40;
  }

  .p-home {
    margin-top: 20px;
  }

  .a-home {
    margin-top: 10px;
    color: inherit;
    text-decoration: none;
  }

  &:hover .h2-home {
    bottom: 0;
  }

  &:hover .p-home,
  &:hover .a-home {
    opacity: 1;
    transition-delay: 0.1s;

  &:hover .img-card-home {
    opacity: 0;
  }
}
}

.material-symbols-outlined {
  vertical-align: middle;
}