
.containerGeneral{
    justify-content: space-evenly;   
    background-image: url("https://images.lonelyplanetitalia.it/static/places/le-havre-4550.jpg?q=80&s=54e98406bc314e21120779fadbde8452");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  
  }
  
  .containerConnexion, .containerInformationInscription{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #1A173B;
    padding: 2%;
    align-items: center;
    justify-content: space-evenly;
  }
  .containerInscription{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 2%;
  }
  
  .containerInformationInscription p{
    font-size: 16px;
  }
  
  .containerGeneralInscription{
    display: flex;
    justify-content: center; 
    width: 60%;
    margin: 0 auto;
  }
  
  button{
    background-color: #1A173B;
    color: #ffffff;
    border-radius: 10px;
  }
  
  .containerConnexion input, .containerInscription input {
    border-radius: 10px;
  }
  
  .containerCondition label{
    color: black;
  }
  
  .containerInscription a, .containerConnexion a{
    color: grey;
    text-decoration: none;
  }

  .mx-w-20 {
    max-width: 20rem;
  }